

<br />
<div class="generic-container" ng-controller="notificatonManagerController">
	<div class="panel panel-default">
		<div class="panel-heading">
			<span class="lead">Notifications</span>
		</div>
		<div class="panel-body">
		<form>
		<br/>
			<div class="tablecontainer">


				<div class="form-group input-group">
				<span class="input-group-addon"><div class="glyphicon glyphicon-comment"></div></span> 
					<input type="text" id="message"
						ng-model="notification.message" size="30" class="form-control"
						placeholder="Notification Message Description" autofocus="autofocus" />
				</div>

				<div class="form-group input-group">
				<span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span> 
					<input type="number" id="estimationTime" ng-model="notification.estimationTime" size="2"
						class="form-control" placeholder="EstimationTime In Minutes" />
				</div>

				<div class="form-group input-group" align="center">
				<div><input type="checkbox" id="active" name="active" ng-model="notification.active" ng-checked="false">&nbsp;&nbsp;Active Notification</div>
				</div>

             <div align="center">
				 <div>
        			<button class="btn btn-success" ng-click="addNotification();" ng-disabled="enable=='false'" id="updateNotification"> 
            			<span ng-show="sendNotificationText == 'Updating'"><i class="fa fa-refresh fa-spin"></i></span>
            			{{ sendNotificationText }}
        			</button>
    			</div>
				
				<br/>
			</div>
			<br/>
			</div>
		</form>
		</div>
	<div class="panel-footer">
	<div class="table-responsive">
		<table class="table table-bordered">
			<tr>
				<th>NotificationId</th>
				<th>NotificationMessageDetails</th>
				<th>NotificationCreatedDate</th>
				<th>NotificationModifiedDate</th>
				<th>EstimationTime</th>
				<th>OrderId</th>
				<th>Active</th>
				<th>Actions</th>
			</tr>

			<tr ng-repeat="notification in notifications">
				<td>{{ notification.notificationId}}</td>
				<td>{{ notification.message }}</td>
				<td>{{ notification.createdDate }}</td>
				<td>{{ notification.modifiedDate }}</td>
				<td>{{ notification.estimationTime }}</td>
				<td>{{ notification.orderId }}</td>
				<td>{{ notification.active }}</td>
				<td><a ng-click="editNotification(notification)" class="btn btn-primary btn-sm"><i class="glyphicon glyphicon-edit"></i></a>
				 <a ng-click="deleteNotification(notification)" class="btn btn-danger btn-sm"><i class="glyphicon glyphicon-trash"></i></a></td>
			</tr>
		</table>
	</div>

	<br />
</div>
</div>



